/.gradle/
build/
out/
dist/
generated/
classes/
logs/*

# eclipse project files
.classpath
.project
*.settings/

# intellij idea project files
*.iml
*.ipr
*.iws
*.ids
.ideaDataSources
.idea

*.diff
.DS_Store

#vim & emacs
*.elc
*.orig
*.rej
*.mergebackup
*.swp
*~
